<div class="modal-body">
    <div id="all-cart-items">
    <h4> Cart is Here !! </h4>
    <% cart_items.each do |item|%>
        <hr>
        <%= image_tag item.book.images.first %><br>
        <h5> Course :<%= item.book.course %> </h5><br>
        <h5> Price :<%= item.book.price * item.quantity %></h5><br>
        <h5> Quantity : </h5>
        <select>
           <option name= "quantity" value="1"> 1 </option>
           <option value="2"> 2 </option>
           <option value="3"> 3 </option>
           <option value="4"> 4 </option>
           <option value="5"> 5 </option>
           <option value="6"> 6 </option>
           <option value="7"> 7 </option>
           <option value="8"> 8 </option>
           <option value="9"> 9 </option>
           <option value="10"> 10 </option>
           <option value="11"> 11 </option>
           <option value="12"> 12 </option>
           <option value="13"> 13 </option>
           <option value="14"> 14 </option>
           <option value="15"> 15 </option>
           <option value="16"> 16 </option>
           <option value="17"> 17 </option>
           <option value="18"> 18 </option>
           <option value="19"> 19 </option>
           <option value="20"> 20 </option>
        </select>

    <% link_to 'CheckOut', carts_index_path %>

        </div>
    <% end %>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= link_to "Buy", new_buy_path , class: "btn btn-primary"%>
</div>