body{
    background-color: cadetblue;
}

#log_in{
    background-color: 98A8F8;
    width: 700px;
    padding: 20px;
}

#sign_up{
    background-color: 98A8F8;
    width: 700px;
    padding: 10px;
}

#profile{
    background-color: 98A8F8;
    width: 700px;
    padding: 20px;
}

#user_name{
    font-family:cursive;
    font-size: larger;

}

#book{
    font-style: oblique;
}
